$white: #ffffff;
$gray: #c3cfe2;
$black: #000000;
$blue-gray-dark: #252b3e;
$purple-blue: #686de0;

$blog-red: #e17b77;
$twitter-blue: #00aced;
$linkedin-blue: #007bb6;
$facebook-blue: #3b5998;
$github-gray: #333;
